<header>
  <div class="bg-dark collapse" id="navbarHeader" style="">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4  class="text-white">about</h4>
          <p class="text-muted">about2</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">{{ 'CONTACT' | translate }}</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Twitter</a></li>
            <li><a href="#" class="text-white">Facebook</a></li>
            <li><a href="#" class="text-white">Email</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">{{ 'LIMITATIONS' | translate }}</h4>
          <p class="text-muted">{{ 'LIMITATION_TITLE' | translate }}</p>
          <ol class="list-group list-group-numbered">
            <li class="list-group-item list-group-item-dark">{{ 'LIMITATION_0' | translate }}</li>
            <li class="list-group-item list-group-item-dark">{{ 'LIMITATION_1' | translate }}</li>
            <li class="list-group-item list-group-item-dark">{{ 'LIMITATION_2' | translate }}</li>
            <li class="list-group-item list-group-item-dark">{{ 'LIMITATION_3' | translate }}</li>
            <li class="list-group-item list-group-item-dark">{{ 'LIMITATION_4' | translate }}</li>
          </ol>
          <p class="text-muted mt-2">{{ 'PRO_PROMO' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <div class="d-flex justify-content-between align-items-center">
        <img src="/assets/images/cluster.png" width="25" height="25">
        <a href="#" class="ms-2 navbar-brand d-flex align-items-center">
          <strong>News articles clusterizer</strong>
        </a>
      </div>
      <div class="col-4 container d-flex justify-content-between btn-block">
        <div class="col-2">
           <a href="/history" class="btn btn-secondary btn-md btn-header">{{ 'HISTORY' | translate }}</a>
<!--          <ul>-->
<!--          <li><a *ngIf="hardcodedauthenticationSevise.isUserLoggedIn()" routerLink="/welcome/in28min" class="nav-link">Home</a></li>-->
<!--          <li><a *ngIf="hardcodedauthenticationSevise.isUserLoggedIn()" routerLink="/todos" class="nav-link">Todos</a></li>-->
<!--          </ul>-->
        </div>
        <div class="col-2">
          <a href="/" class="btn btn-secondary btn-md btn-header">{{ 'MAIN_PAGE' | translate }}</a>
        </div>
        <div class="col-2">
          <button class="btn btn-secondary btn-md btn-header" type="button" data-toggle="collapse"
                  data-target="#navbarHeader"
                  aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span>{{ 'HELP' | translate }}</span>
          </button>
        </div>
          <div class="col-2">
            <button (click)="switchLanguage('en')" class="btn btn-secondary btn-md btn-header">English</button>
          </div>
          <div class="col-2">
            <button (click)="switchLanguage('uk')" class="btn btn-secondary btn-md btn-header">Українська</button>
          </div>
      </div>
    </div>
  </div>
</header>
